<script src="/public/js/menu.js"></script>

{{> cart }}

<main class="row text-center">

    <section class="col col-9 col-md-7 col-lg-5 mx-auto p-0">
        <div class="full" id="products_container">


            {{#each data}}

            <div class="card_container p-3">

                <form class="card card_form_item" onsubmit="handleSub(event)" id={{itemId}}>

                    <img class="card-img-top"
                        src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fthumb10.shutterstock.com%2Fdisplay_pic_with_logo%2F250462%2F128941877%2Fstock-photo-peru-traditional-culinary-salchipapas-128941877.jpg&f=1&nofb=1"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ productName }}</h4>
                        <p class="card-text">
                            <strong class="text-success"> ${{ price }} pesos </strong>
                            <br>
                            {{ description }}
                        </p>

                        <input name="product" type="hidden" value={{ productName }}>
                        <input name="price" type="hidden" value={{ price }}>
                        <input name="itemId" type="hidden" value={{ itemId }}>


                        <button type="submit" class="btn btn-sm btn-outline-primary card_form_btn">
                            <i class="fas fa-plus mr-2"></i>
                            Agregar al carrito
                        </button>
                    </div>

                </form>

            </div>

            {{/ each}}

        </div>
    </section>

</main>